<div class="container-fluid">
  <div class="row m-0">
    <div class="col-3 card" *ngFor="let artista of autore">
      <img src="{{artista.foto}}" alt=""> <!-- Foto canzone -->
      <h3>{{artista.nome}}</h3><!-- Nome autore -->
      <h4>{{artista.titolo}}</h4><!-- Titolo canzone -->
      <iframe  [src]="getSafeUrl(artista.frameSrc)" [style]="artista.frameStyle" [width]="artista.frameWidth" [height]="artista.frameHeight" allow="autoplay; encrypted-media"  [loading]="artista.loading"></iframe>
    </div>
  </div>
</div>
