<div class="container-fluid">
  <div class="row">
    <div class="col-2 hide" id="iframe1">
      <app-aside-sinistra></app-aside-sinistra>
    </div>
    <div class="col-12 col-xs-12 col-sm-8" id="centro">
      <h2>Chi siamo</h2>
      <img src="../../../assets/img/fotosudinoi.jpg" alt="">
      <p>Persone con la passione per la musica di tutti i generi e di tutti i tempi. Su questo blog verranno caricate le ultime news in merito al settore musicale,
        inoltre ai lati è possibile ascoltare una playlist suggerita e le canzoni più ascoltate in italia.
      </p>
    </div>
    <div class="col-2 hide" id="iframe1">
      <app-aside-destra></app-aside-destra>
    </div>
  </div>
</div>
