<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-4 footer">
        <h3>Contatti</h3>
        <p><a href="telto:+393466985652" target="_blank">Tel.: 3466985652</a></p>
        <p><a href="mailto:news@song.it" target="_blank">Mail.: news@song.it</a></p>
      </div>
      <div class="col-12 col-xs-12 col-sm-4 footer">
        <h3>Social</h3>
        <p><img src="../assets/img/icons8-instagram-48 (3).png" alt=""><a href="#"> Instagram</a></p>
        <p><img src="../assets/img/icons8-facebook-48 (1).png" alt=""><a href="#"> Facebook</a></p>
      </div>
      <div class="col-12 col-xs-12 col-sm-4 footer">
        <h3>Lingue</h3>
        <p><img src="../assets/img/EnglishLanguage_Flag1_26107.png" alt=""><a href="#"> Inglese</a></p>
        <p><img src="../assets/img/italy_icon_127831.png" alt=""><a href="#"> Italiano</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="copyright">
        @Copyright {{data.getFullYear()}} Tommaso Magliocca
      </div>
    </div>
</div>
