<div class="container-fluid">
  <div class="row">
    <div class="col-2" id="iframe1">
      <app-aside-sinistra></app-aside-sinistra>
    </div>
    <div class="col-12 col-xs-12 col-sm-8" id="centro"><!-- ng for per dati in ingresso api -->
      <h2>News ultima ora</h2>
      <h3>Meta non rinnova accordo con Siae, via la musica dai social</h3>
      <img src="../assets/img/articolo1.jpg" alt="">
      <p>"La musica è finita, i social se ne vanno".
        Parafrasare una celebre canzone di Ornella Vanoni può servire a spiegare cosa sta accadendo su Facebook e
        Instagram.
        Meta, la holding proprietaria delle due piattaforme, ha reso noto di non aver raggiunto un accordo con Siae
        per il rinnovo della licenza sul diritto di autore. Di conseguenza sui social vengono bloccati o silenziati
        i brani che rientrano nel repertorio Siae, gli altri continuano ad essere disponibili.</p>
    </div>
    <div class="col-2" id="iframe1">
      <app-aside-destra></app-aside-destra>
    </div>
  </div>
</div>
